<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Recommendations
    </ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!diet_clickedButton" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> Recommendations </ion-card-title>
      <ion-card-subtitle> Look up a diet and we'll recommend you the best foods to eat!</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
  <ion-searchbar show-clear-button="always" debounce="1000" show-cancel-button="focus" 
                 (ionChange)="searchFilter($event)" placeholder="Search for a diet!"> 
  </ion-searchbar>
  
  <ion-accordion-group>
    <script type="text/javascript" src="tab2.page.ts"></script>

    <ion-list *ngIf="!diet_clickedButton">
      <ion-item *ngFor="let diet of diets">
        <ion-button expand="block" shape="round" fill="solid" (click)="getRecommendations($event)">{{ diet }}</ion-button>
      </ion-item>
    </ion-list>

    
  </ion-accordion-group>
</ion-content>


<ion-content *ngIf="diet_clickedButton" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title> {{ chosen_diet }} </ion-card-title>
      <ion-card-subtitle> Below are the best recommended foods to eat/drink from every category!  </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list-header>
    <ion-label>Foods</ion-label>
  </ion-list-header>
  
  <!-- work on displaying results by category -->
  <ion-list type="list-inset" *ngFor="let food of recommended_results_display">
    <ion-item>
      <ion-label class="ion-text-wrap"> {{ food.name }} </ion-label>

      <br><br/>

      <div class="show-details-btn">
        <ion-button (click)="showDetails(food.name, food.foodCategory)"> See Details </ion-button>
      </div>

      <br><br/>

      <div class="add-item-btn">
        <ion-button (click)="add_food(food)"> Add Food </ion-button>
      </div>
    </ion-item>
  </ion-list>



</ion-content>