<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Me
    </ion-title>
    <div class="profile-pic-container" *ngIf="!informationEntered">
      <img [src]="getProfilePic()" alt="Profile Picture" class="profile-pic">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Me </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- show contents of page based on if information has been entered or not -->
  <ion-card *ngIf="informationEntered">
    <ion-card-header>
      <ion-card-title> User Information </ion-card-title>
      <ion-card-subtitle> Let's gather some quick information about you!</ion-card-subtitle>
    </ion-card-header>
    
    <!-- button click to prompt for user to enter information (name, age, weight, goal, etc.) -->
    <ion-button color="primary" fill="clear" (click)="enter_info()">Enter my information </ion-button>
  </ion-card>
  
  <ion-card *ngIf="!informationEntered">
    <ion-card-header *ngIf="userInfo[0].gender == 'male' || userInfo[0].gender == 'female'">
      <ion-card-title class="bold"> Recommended Macros for {{userInfo[0].name}} to {{ userInfo[0].goal }}</ion-card-title>
      <ion-card-subtitle class="bold"> Calories: {{calories}}</ion-card-subtitle>
      <ion-card-subtitle class="bold"> Protein: {{protein}}g</ion-card-subtitle>
      <ion-card-subtitle class="bold"> Carbohydrates: {{carbs}}g</ion-card-subtitle>
      <ion-card-subtitle class="bold"> Fat: {{fat}}g</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <p class="macro-styling">
    <strong> Today's Macros: </strong> <br>
    <strong>{{total_macros['energy'] | number :'1.1-1'}}g</strong> Calories <br>
    <strong>{{total_macros['protein'] | number : '1.1-1'}}g</strong> Protein <br>
    <strong>{{total_macros['carbs'] | number : '1.1-1'}}g</strong> Carbs <br>
    <strong>{{total_macros['fat'] | number : '1.1-1'}}g</strong> Fat <br>
  </p>

  <!-- show list of foods user has added -->
  <div *ngFor="let info of food_list; let i = index">
    <div>
        <p class="macro-styling">
          <strong> {{info.name}} </strong> <br>
          Calories: {{macro_list[i]['energy']}}g <br>
          Protein: {{macro_list[i]['protein']}}g <br>
          Carbs: {{macro_list[i]['carbs']}}g <br>
          Fats: {{macro_list[i]['fat']}}g <br>
        </p>
      </div>
  </div>
  <style>
    .bold {
      font-weight: bold;
      font-size: 1.2em;
    }

    .profile-pic-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  </style>
</ion-content>